.HostingHaneen{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding-bottom: 35px;
}

.HostingHaneenInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HostingHaneenImg img {
    width: 580px;
    max-height: 146px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-bottom: 1px solid #ebebeb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.HostingHaneenInformation .HostingTitleHaneen h4{
  margin-bottom: 1em;
  color: black;
}

.HostingHaneenImg img:hover, .HostingHaneenInformation .HostingPriceHaneen p:hover, .HostingHaneenInformation .HostingTitleHaneen h4:hover {
    color: #0357D2;
}

.HostingHaneenInformation .HostingPriceHaneen p{
    font-weight: 600;
    color: black;
}
.HostingDescriptionHaneen {
    color: black;
}

@media (max-width:600px) {
    .HostingHaneen{
        /* min-height: 70vh; */
    }
    .HostingHaneenImg img{
        width: 80vw;
    }
}








