.HostingCoures{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1em;
    width: 80%;
    /* justify-content: center; */
    margin: 2em auto;
    /* align-content: center; */
}

@media (max-width:900px) {
    .HostingCoures{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:650px) {
    .HostingCoures{
        grid-template-columns:1fr;
    }
}

