.HostingAllHaneen{
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    padding: 25px 20px 100px;
    justify-items: center;
  border-radius: 2%;

}

.HostingAllHaneen .HostingAllHaneenInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HostingAllHaneenInformation .HostingAllTitle1Haneen{
    border: 2px solid #4096f1;
    border-radius:25px;
    margin: 2em 0;
    padding: 0 0.9em;
}

.HostingAllHaneenInformation .HostingAllTitle1Haneen p{
    margin: auto 0;
    color:#4096f1;
    font-weight: 700;
}

.HostingAllHaneenInformation .HostingAllPriceHaneen p{
    color:#4096f1;
    font-weight: 900;
}

    
.HostingAllHaneenInformation .HostingAllTitle2Haneen h4{
    font-weight: 700;
}

@media (max-width:1180px) {
    .HostingAllHaneen{
        /* min-height: 70vh; */
        font-size: .9em;
    }
}