.digital-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 0.5em;
}

h3.digital-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.digital-description {
  text-align: center !important;
  font-size: 0.9em;
  padding: 1px 2em 0 2em;
}
.digital-img {
  height: 8em;
  width: 8em;
  margin-bottom: 1.2em;
}

/* Move Later */
.digital-container {
  display: grid;
  grid-template-columns:  auto auto;
  align-items: start;
  justify-content: center;
  justify-items: center;
  width: 70%;
  gap: 2em;
  margin: auto;
}

.header-img {
  width: 100%;
  height: 14.5em;
  background-image: url(~/public/img/AboutusSection1-bg.jpg);
  background-size: cover;
  background-position-y: -10em;
  margin-bottom: 2em;
  background-color: rgb(28 28 30 / 60%);
  background-blend-mode: color-burn;
}
.section-about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 3em;
}
.section-about-header h2 {
  font-weight: bold;
}

.section-about-header p {
  width: 70%;
}

.section-core-Value {
  margin-top: 3em;
  background-color: #f1f0f0;
  padding: 5em;
}

.core-value-img {
  width: 70%;
  margin: auto;
  display: flex;
}

.core-value-img img {
  width: 70%;
  margin: auto;
}

.section-aboutus-joining {
  background-color: #434f58 !important;
  padding: 3em;
}

.section-aboutus-joining .section-about-header {
  color: white;
}

.section-aboutus-joining button {
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-style: none;
  border-radius: 5px;
}
/* Media   */
@media screen and (max-width: 720px) {
  .digital-container {
    grid-template-columns: auto auto;
    width: 90%;
  }
  .digital-description {
    font-size: 0.8em;
    padding: 1px 1em 0 2em;
  }
  .header-img {
    background-position-y: -0em;
  }
}
@media screen and (max-width: 550px) {
  .section-about-header h2 {
    font-size: medium;
  }
  .digital-img {
    height: 6em;
    width: 6em;
    margin-bottom: 1.2em;
  }

  .core-value-img img {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .digital-container {
    grid-template-columns: auto;
    width: 90%;
  }
}
