.contactContainer h3 {
      padding-top: 70px;
}

.customContactContainer {
      padding-top: 70px;
      padding-bottom: 70px;
}

.customContactContainer form input, .customContactContainer form textarea {
      border: 1px solid rgba(0, 0, 0, 0.11);
      text-align: left;
      margin-bottom: 5px;
      width: 350px;
      border-radius: 5px;
      resize:none;
      padding: 10px;
}

.customFormSend {
      margin-top: 30px;
      border: 1px solid #0D6EFD;
      width: 200px;
      background-color: #0D6EFD;
      color: white;
}

.customFormSend:hover {
      background-color: white;
      color: #0D6EFD;
      transition: all .4s ease-in-out;
}

@media (max-width: 865px) {
      .customContactContainer form {
            margin-top: 55px;
      }
      .contactHeading img {
            max-width: 250px;
      }
      .customContactContainer form input, .customContactContainer form textarea {
            width: 250px;
      }
}