.CheckoutContainer {
  padding: 70px 0 70px 25px;
  max-width: 960px !important;
}

.CheckoutContainer form input {
  display: block;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 480px;
  margin-bottom: 16px;
}

.flname input {
  display: inline !important;
  width: 230px !important;
  margin-right: 20px;
}

.CheckoutContainer hr {
  opacity: 0.25;
  width: 480px;
}

.CheckoutContainer form button {
      width: 480px;
      padding: 10px 0;
      font-weight: 500;
      border: 1px solid #0d6efd;
      background-color: #0d6efd;
      color: white;
      border-radius: 5px;
}

.CheckoutContainer form button:hover {
      border-color: #236cd8;
      background-color: #236cd8;
      transition: all .5s ease-in-out;
}

.eduimg img {
  padding-top: 80px;
}

@media (max-width: 555px) {
  .eduimg img {
    width: 95%;
    display: none;
  }
  .CheckoutContainer form input{
    max-width: 250px !important;
  }
  .CheckoutContainer form button {
    max-width: 250px;
  }
  .CheckoutContainer hr {
    max-width: 250px;
  }
  .flname input{
    min-width: 250px !important;
  }
}