*{
    padding: 0;
    margin:0;
}
.hero-{
  
    height: 90vh;
    /* opacity: 60%; */
    
}
.msg {
   
    height: 15vh;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 4em 10em 20em 10em;
    padding: 3em;
    border-radius: 4px;
    color: black;
    width: 35%;
    height: 90%;
    /* border:rgb(91, 170, 207) solid .2px; */
    box-shadow: rgb(108, 139, 230) 1px 2px 18px 1px;
}
.form-container div{
    gap:3em;
}
.form-container input{
width: 90%;
border: 0px;
margin-top: .4em;
border-radius: 3px;
background-color: rgb(181, 200, 236);
height: 2em;
}
.input-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}
.second-form div{
    gap:1em;
}
