.LogInToqa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e3f0ff;
    padding: 70px 0;
}

.TitleLogInAndImg img{
    width: 32em;
    height: 20em;

}

.TitleLogInAndImg{
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}


.TitleLogInAndImg h3{
    align-items: center;
    margin-left: 3em;
    font-family: "Proxima Nova", proxima-nova, sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #103760;
    line-height: 1;
}
.TitleLogInAndImg p{
    margin-left: 4em;
    font-size: 1.5rem;
    color: #434F58 !important;
    max-width: 20em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

.LogInForm{
    /* border:  1px green solid; */
    /* height: 50%; */
    width: 35%;
    background-color: #ffffff;
    height: 37em;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
}
.contactLogInForm{
    /* border: 1px solid red; */
    width: 90%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.contactLogInForm input{
    display: block;
    width: 90%;
    border: 0;
    background-color: #E3F0FF;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1;
    transition: box-shadow .22s ease-out;
    height: 3rem;
    margin: 1.3em 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.submitLoginForm{
    margin: 8px 0;
    width: 90%;
    opacity: 0.9;
    font-family: "Proxima Nova", sans-serif;
    background-color:  #0073EC;
    color: white;
    border: solid 1px #0073EC;
    border-radius: 3px;
    padding: 0.75rem 2rem 0.625rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@media(max-width: 1000px){
    .TitleLogInAndImg{
        display: none;
    }

    .LogInForm{
        width: 90%;
    }
}


