.LogInToqa {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: center;
  background-color: #e3f0ff;
  padding: 70px 0;
}

.TitleLogInAndImg img {
  width: 32em;
  height: 20em;
}

.TitleLogInAndImg {
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
}

.TitleLogInAndImg p {
  font-size: 1.5rem;
  color: #434f58 !important;
  max-width: 20em;
  text-align: center;
  margin-top: 35px;
}

.LogInForm {
  width: 30%;
  padding: 55px 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
}

.contactLogInForm h3 {
  padding-bottom: 15px ;
}
.contactLogInForm {
  width: 85%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-top: 5px;
}
.contactLogInForm input {
  display: block;
  width: 95%;
  border: 0;
  outline: none;
  background-color: #e3f0ff;
  padding: .5rem 1rem !important;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  transition: box-shadow 0.22s ease-out;
  height: 2.6rem;
  margin: .5em 0;
}

.submitLoginForm {
  margin: 8px 0;
  width: 95%;
  opacity: 0.9;
  font-family: "Proxima Nova", sans-serif;
  background-color: #0073ec;
  color: white;
  border: solid 1px #0073ec;
  border-radius: .5rem;
  padding: 0.55rem 2rem 0.55rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .TitleLogInAndImg {
    display: none;
  }

  .LogInForm {
    width: 90%;
  }

}

@media (max-width:350px) {
  .LoginFormMe{
    font-size:.9em ;
  }
}
